
:root{
    --navBackColor:#ff424f;
    --transparentnavBackColor:rgba(255, 66, 79,0.9);
}
#searchNav{
    z-index: 4;
    opacity: 0.9;
    position: fixed;
    width: 100vw;
    transition: 0.23s;
    height: 70px;
    background-color: var(--transparentnavBackColor);
}

#profileImg{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}
#logo{
    color: white;
    
}
#logoContainer{
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fa-solid{
    margin: 0 20px;
    color: white;
}
#navContainer{
    height: 100%;
    list-style: none;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    /* overflow: hidden; */
}
#searchInput{
    color: white;
    height: 100%;
    background-color:rgba(255, 66, 79,0);
    border: 0;
    width: 70vw;
    outline: none;
    margin-left: 10px;
}
#searchInput::placeholder{
    color: white;
    font-weight: lighter;
    
}
#searchContainer{
    
    margin: auto 0;
 transition: 0.23s;
 position: relative;
 height: 80%;   
}
#picContainer{
    width: 50px;
    margin: auto 30px;
    overflow: hidden;
}
.searchSuggestions{
        display: none;
        margin-top: 7px;
        color: white;
        width: 70vw;
        height: 50vh;
        overflow-y: scroll;
        background-color: #222b31;
        border: 1px solid #495156;
    }
#navContainer .fa-bars{
    display: none;
}
@media only screen and (max-width: 956px) {
    #picContainer{
        margin: 1.5vh 30px 0 0;
        
    }
}
@media only screen and (max-width: 972px) {
    #searchNav{
        height: 63px;
    }
    #searchContainer i {
        display: none;
    }
    #searchContainer {
        position: relative;
    }
    
    #navContainer{
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    #navContainer .fa-bars{
        display: block;
        position: absolute;
        left: 0%;
        top: 40%;
        margin: 0 0 0 10px;
        cursor: pointer;
    }
    #logoContainer{
        display: none;
    }
    #searchContainer{
        margin-left: 6%;
    }
    #picContainer{
        
        margin: 0 10px 0 0;
        
    }
    
}
